In [1]:
name:str = "Shahmir"
print(name)

Shahmir

In [2]:
message :str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [3]:
print("a"+"b"+"c")
print("a"+"6")
print("a" + str(6))

abc
a6
a6

In [4]:
print(7+8+2)
print(4*"#")

17
####

In [5]:
print(7 + \
      8 + \
        2)

17

### Fstring in Python

In [6]:
name : str = 'Syed Shahmir Sultan'
fname : str = "Syed Imran Ali Shah"
education : str = "High School 3rd Year"
age : int = 17


# It doesn't matter if we use single or double quotations
card:str = f'''
Student Name : {name} 
Father's Name : {fname} 
Education : {education} 
Age : {age}
'''
print(card)

Student Name : Syed Shahmir Sultan
Father's Name : Syed Imran Ali Shah
Education : High School 3rd Year
Age : 17

In [7]:
name : str = 'Syed Shahmir Sultan'
fname : str = "Syed Imran Ali Shah"
education : str = "High School 3rd Year"
age : int = 17


# It doesn't matter if you use single or double quotations
card:str = f'''
Student Name : {name} 
Father's Name : {fname} 
Education : {education} 
Age : {age}

Total : {2+8+10}
'''
print(card)

Student Name : Syed Shahmir Sultan
Father's Name : Syed Imran Ali Shah
Education : High School 3rd Year
Age : 17

Total : 20

In [8]:
name : str = 'Syed Shahmir Sultan'
fname : str = "Syed Imran Ali Shah"
education : str = "High School 3rd Year"
age : int = 17


card:str = '''
Student Name : %s
Father's Name : %s
Education :  %s
Age : %d
''' %(name,fname,education,age)
print(card)

Student Name : Syed Shahmir Sultan
Father's Name : Syed Imran Ali Shah
Education :  High School 3rd Year
Age : 17

In [9]:
a=7
b=5
text: str ="pakistan value a = {} and value b = {}".format(a,b)
print(text)

pakistan value a = 7 and value b = 5

In [11]:
name : str = 'Syed Shahmir Sultan'
fname : str = "Syed Imran Ali Shah"
education : str = "High School 3rd Year"
age : int = 17


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)
print(card)

PIAIC Student Card
Student Name : Syed Imran Ali Shah
Father's Name: Syed Shahmir Sultan
Age: High School 3rd Year
Education : 17

In [12]:
name : str = 'Syed Shahmir Sultan'
fname : str = "Syed Imran Ali Shah"
education : str = "High School 3rd Year"
age : int = 17


card : str = """
PIAIC Student Card
Student Name : {0}
Father's Name: {2}
Age: {1}
Education : {3}
""".format( name,age,fname,education)
print(card)

PIAIC Student Card
Student Name : Syed Shahmir Sultan
Father's Name: Syed Imran Ali Shah
Age: 17
Education : High School 3rd Year

In [14]:
name : str = 'Syed Shahmir Sultan'
fname : str = "Syed Imran Ali Shah"
education : str = "High School 3rd Year"
age : int = 17
card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format( a=name,c=age,b=fname,d=education)
print(card)

PIAIC Student Card
Student Name : Syed Shahmir Sultan
Father's Name: Syed Imran Ali Shah
Age: 17
Education : High School 3rd Year

In [15]:
student_code:str = '''
print("My Name is Shahmir")

a :int = 10
b:int = 20
c:int = a +b
print(c)
'''
exec(student_code)

My Name is Shahmir
30

In [49]:
name : str = "  SyeD sHAhmIr SulTaN  "

# String Methds
print(name.capitalize())
print(name.lower())
print(name.title())
print(name.upper())
print(name.casefold())
print(len(name))
print(name.find("m"))
print(name.index("N"))
print(name.count("S"))
print(name.format())
print(name.rstrip())
print(name.lstrip())
print(name.strip())

  syed shahmir sultan
  syed shahmir sultan
  Syed Shahmir Sultan
  SYED SHAHMIR SULTAN
  syed shahmir sultan
23
11
20
2
  SyeD sHAhmIr SulTaN
  SyeD sHAhmIr SulTaN
SyeD sHAhmIr SulTaN
SyeD sHAhmIr SulTaN

In [50]:
nostarch_url:str = 'https://shahmir-portfolio1.vercel.app/'
nostarch_url.removeprefix('https://')

'shahmir-portfolio1.vercel.app/'