In [2]:
names : list[str] = ["Syed","Shahmir","Sultan"]

for name in names :
    print(name)

Syed
Shahmir
Sultan

In [9]:
names : list[str] = ["Syed","Shahmir","Sultan"]
i:int = 0

while i<len(names):
    print(names[i])
    i+=1

Syed
Shahmir
Sultan

In [11]:
names : list[str] = ["Syed","Shahmir","Sultan"]

for name in names :
    print(f"Welcome Dear Teacher {name}")

Welcome Dear Teacher Syed
Welcome Dear Teacher Shahmir
Welcome Dear Teacher Sultan

In [18]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[-3:]:
    print(f"Welcome Dear Teacher {name}")

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Muhammad Qasim
Welcome Dear Teacher DR Noman

In [20]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[::-1]:
    print(f"Welcome Dear Teacher {name.upper()}")

Welcome Dear Teacher DR NOMAN
Welcome Dear Teacher MUHAMMAD QASIM
Welcome Dear Teacher SIR ZIA

In [22]:
data_base : list[tuple[str,str]] = [("Qasim",123),
                                    ("Shahmir",345),
                                    ("Sir Zia",678)]

for row in data_base:
    print(row)

('Qasim', 123)
('Shahmir', 345)
('Sir Zia', 678)

In [24]:
data_base : list[tuple[str,str]] = [("Qasim",123),
                                    ("Shahmir",345),
                                    ("Sir Zia",678)]

for name,index in data_base:
    print(name,index)
    break

Qasim 123

In [25]:
magicians: list[str] = ['alice', 'david', 'carolina']

for name in magicians:
    print(name)
print(f"I can't wait for your next trick {name.title()}")

alice
david
carolina
I can't wait for your next trick Carolina

In [31]:
magicians: list[str] = ['alice', 'david', 'carolina']
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [33]:
magicians: list[str] = ['alice', 'david', 'carolina']
for index,name in enumerate(magicians):
    print(index,name)

0 alice
1 david
2 carolina

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
num :int = int(input("Enter Any Number"))
for n in range(1,11):
    print(f"{num} x {n} = {n*num}")

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [39]:
squares :list[int] = []
for n in range(1,11):
    value = n**2
    squares.append(value)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
# List Comprehensive
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(sum(digits))
print(max(digits))
print(min(digits))

45
9
0

In [45]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
# This is same my_foods.copy()
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']